@using QuestBoard.Pages.SqlHelpers;

@{
    int? user = ViewContext.HttpContext.Session.GetInt32("userID");
    SqlHelpers.GetStatsModel sqlHelper = new SqlHelpers.GetStatsModel();

    if (user != null)
    {
        sqlHelper.GetStatsSQL(user.Value);
        sqlHelper.GetEquipmentSQL(user.Value);
    }
}

@foreach (var userStats in sqlHelper.listUsersStats)
{
    <ul style="list-style:none">
        <li style="text-align:center">
            <img style="height:110px;border: 2px solid white;margin-right:2rem" src="/images/avatars/@sqlHelper.listUsersStats[0].portrait" alt="alt" />
        </li>
        <li>
            <b>Level:</b> @sqlHelper.listUsersStats[0].level
        </li>
        <li>
            <b>Class:</b> @sqlHelper.listUsersStats[0].class_specialty
        </li>
        <li>
            <b>HP:</b> @sqlHelper.listUsersStats[0].hp
        </li>
        <li>
            <b>Power:</b> @sqlHelper.listUsersStats[0].power
        </li>
        <li>
            <b>Defense:</b> @sqlHelper.listUsersStats[0].defense
        </li>
        <li>
            <b>Luck:</b> @sqlHelper.listUsersStats[0].luck
        </li>
    </ul>
}

@foreach (var userEquipment in sqlHelper.listEquipment)
{
    <ul style="list-style:none">
        <li>
            <b>Head: @sqlHelper.listEquipment[0].head</b>
        </li>
        <li>
            <b>Shoulders: @sqlHelper.listEquipment[0].shoulders</b>
        </li>
        <li>
            <b>Chest: @sqlHelper.listEquipment[0].chest</b>
        </li>
        <li>
            <b>Legs: @sqlHelper.listEquipment[0].legs</b>
        </li>
        <li>
            <b>Feet: @sqlHelper.listEquipment[0].feet</b>
        </li>
        <li>
            <b>Mainhand: @sqlHelper.listEquipment[0].mainhand</b>
        </li>
        <li>
            <b>Offhand: @sqlHelper.listEquipment[0].offhand</b>
        </li>
        <li>
            <b>Accessory: @sqlHelper.listEquipment[0].accessory1</b>
        </li>
        <li>
            <b>Accessory: @sqlHelper.listEquipment[0].accessory2</b>
        </li>
    </ul>
}