@using QuestBoard.Pages.SqlHelpers;

@{
    int? user = ViewContext.HttpContext.Session.GetInt32("userID");
    SqlHelpers.sqlModel sqlHelper = new SqlHelpers.sqlModel();

    if (user != null)
    {
        sqlHelper.GetStatsSQL(user.Value);
        sqlHelper.GetEquipmentSQL(user.Value);
    }
}

@foreach (var userStats in sqlHelper.listUsersStats)
{
    <ul style="list-style:none">
        <li style="text-align:center">
            <img style="height:110px" src="/images/avatars/@sqlHelper.listUsersStats[0].portrait" alt="alt" />
        </li>
        <br />

        <li>
            <b>Level:</b> @sqlHelper.listUsersStats[0].level
        </li>
        <li>
            <i class="fa-solid fa-hat-wizard"></i> <b>Class:</b> @sqlHelper.listUsersStats[0].class_specialty
        </li>

        <br />
        <li>
            <i class="fa-solid fa-heart"></i> <b>HP:</b> @sqlHelper.listUsersStats[0].hp
        </li>
        <li>
            <i class="fa-solid fa-dumbbell"></i> <b>Power:</b> @sqlHelper.listUsersStats[0].power
        </li>
        <li>
            <i class="fa-solid fa-shield"></i> <b>Defense:</b> @sqlHelper.listUsersStats[0].defense
        </li>
        <li>
            <i class="fa-solid fa-dice"></i> <b>Luck:</b> @sqlHelper.listUsersStats[0].luck
        </li>
    </ul>
}

<ul style="list-style:none">
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].head_img" alt="head" /> <b>Head:</b> @sqlHelper.listEquipment[0].head
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].shoulders_img" alt="shoulders" /> <b>Shoulders:</b> @sqlHelper.listEquipment[0].shoulders
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].chest_img" alt="chest" /> <b>Chest:</b> @sqlHelper.listEquipment[0].chest
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].hands_img" alt="hands" /> <b>Hands:</b> @sqlHelper.listEquipment[0].hands
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].legs_img" alt="legs" /> <b>Legs:</b> @sqlHelper.listEquipment[0].legs
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].feet_img" alt="feet" /> <b>Feet:</b> @sqlHelper.listEquipment[0].feet
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].mainhand_img" alt="mainhand" /> <b>Mainhand:</b> @sqlHelper.listEquipment[0].mainhand
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].offhand_img" alt="offhand" /> <b>Offhand:</b> @sqlHelper.listEquipment[0].offhand
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].accessory1_img" alt="accessory1" /> <b>Accessory:</b> @sqlHelper.listEquipment[0].accessory1
    </li>
    <li>
        <img style="height:50px" src="~/images/@sqlHelper.listEquipment[0].accessory2_img" alt="accessory2" /> <b>Accessory:</b> @sqlHelper.listEquipment[0].accessory2
    </li>
</ul>