@page
@model ShopModel

<style>
    .card {
        margin-bottom: 30px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 20px;
        text-align: center;
    }

    .card-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .card-text {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .btn-buy {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        background-color: #e1b12c;
        border-color: #e1b12c;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
    }

        .btn-buy:hover {
            background-color: #d6a429;
        }

</style>

<div style="position:absolute">
    <img style="width:75%;border-radius:15px" src="/images/shop-front.jpg" />
    <div><span style="font-size:60px;text-align:center">The Shop</span></div>
    <div class="row" style="width:50%;margin:auto 200px;border: 2px solid gray;padding:25px">
        @foreach (var item in Model.listShopItems)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/@item.image" class="card-img-top" alt="@item.name" />
                    <div class="card-body">
                        <h5 class="card-title">@item.name</h5>
                        <p class="card-text">@item.description</p>
                        <div class="item-price">@item.price G</div>
                        <div class="item-stock">@item.stock available</div>
                        <button class="btn btn-buy" data-item-id="">Buy Now</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
    // Handle the buy button click event
    $('.btn-buy').click(function () {
        var itemId = $(this).data('item-id');
        // TODO: Implement buy logic
    });
</script>