@page "{item?}"
@model QuestBoard.Pages.ViewItemModel
@{
    string itemQ = HttpContext.Request.Query["item"].ToString();
    HttpContext.Session.SetString("SelectedItem", itemQ);
}

<div>
    <h2>@itemQ</h2>

    @if (Model.errorMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @foreach (var item in Model.listUsersItems)
    {
        <p>Quantity: @item.quantity</p>
        <p>Rarity: @item.rarity</p>

        <p>@item.description</p>
        <p><img style="height:200px;" src="~/images/@item.image" alt="alt" /></p>

        @if (item.equipable)
        {
            <div style="display:flex;justify-content:space-between">
                <form asp-page-handler="equip" method="post">
                    <button class="btn btn-warning">Equip</button>
                </form>
                <br />
                <form asp-page-handler="unequip" method="post">
                    <button class="btn btn-outline-danger">Unequip</button>
                </form>
            </div>
        }
    }

    @if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" asp-page="/Users/Inventory"></button>
        </div>
    }

    <br />
    <a class="btn btn-success" asp-page="/Users/Inventory">Back</a>
</div>